<!-- <p>search works!</p>
<div class="container d-flex m-auto mt-5 justify-content-between">

  <div *ngFor="let item of products; let i = index" class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{products[i].name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Add Product</a>
    </div>
  </div>
</div> -->