<p>add works!</p>
<!-- product-form.component.html -->
<form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" formControlName="productName" required>

    <select  id="category" formControlName="category">
      <option value="65ccf9145b64247d1bc64607">Men's</option>
      <option value="65ccf92a5b64247d1bc64609">women's</option>
      <option value="65ccf9335b64247d1bc6460b">kid's</option>
    </select>
    

    <button type="submit">Submit</button>
  </form>
  
